body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #343434;
    color: white;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

#game-board div {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: #4584b6;
    color: white;
    border: 2px solid #343434;
}

#restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
}
